

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 3px solid black;
}

.wrapper{
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  background-color: #081122;
  color: white;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "header header"
    "board board"
}

@media screen and (max-width: 640px) {
    .container {
        grid-template-areas:
            "header"
            "board";
    }
}

#message-box {
  border: 5px solid yellow;
  background-color: #354b74;
  padding: 10px;
  height: 100px;
  float: left;
  position: absolute;
  top: 50%;
  left: 30%;
  text-align: center;
  z-index: 99999;
}

#board {
  background-image: url('./assets/cemetery_animationcycled.gif');
  background-size: cover;
  grid-area: board;
}

#bullseye {
  font-size: 60px;
  color: white;
  grid-area: board;
  z-index: 9999;
  height: 50px;
  width: 50px;
  position: relative;
  transition: all 1s ease-out;
  cursor: crosshair;
}

#score{
  grid-area: header;
  align-content: flex-start;
  padding: 0 10px;
}

#reset {
  color: red
}

.sidebar{
  background-color: #dedede;
}

.arena {
  display: flex;
  background-color: #4b4949;
  height: 100vw;
}

.outer {
  background-color: red;
  width: 100px;
  height: 100px;
}

.middle {
  background-color: white;
  width: 66px;
  height: 66px;
}

.center-1 {
  background-color: red;
  width: 33px;
  height: 33px;
}

.center {
  background-color: white;
  width: 14px;
  height: 14px;
}
